# Part 1

I used open data provided by Kaggle, where anyone can use data for free without restrictions, for a group project in analytics computing class. The data listing motorcycle performance in relation to manufacturing was used for the project. The purpose of the report was to analyze and provide motorcycle performance under specific conditions to a hypothetical manufacturer through data processing and analysis.

# Part 2

In [1384]:
pip install numpy

Requirement already satisfied: numpy in c:\users\sbyeo\anaconda3\lib\site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [1385]:
import numpy as np

In [1386]:
M = np.array([[1,3,-2],[-1,2,1],[1,0,-1],[4,2,0],[0,1,0]])

In [1387]:
N = np.array([[1,2,1],[2,1,0],[1,0,1]])

||M|M<sup>T</sup>|N|N<sup>T</sup>|
|:---|:---:|:---:|:---:|:---:|
|M |MM(Incompatible)|MM<sup>T</sup>(5x5)|MN(5x3)|MN<sup>T</sup>=MN
|M<sup>T</sup>|M<sup>T</sup>M(3x3)|M<sup>T</sup>M<sup>T</sup>((Incompatible)|M<sup>T</sup>N(Incompatible)|M<sup>T</sup>N<sup>T</sup>=M<sup>T</sup>N 
|N |NM(Incompatible)|NM<sup>T</sup>(3x5)|NN(3x3)|NN<sup>T</sup>=NN
|N<sup>T</sup>|N<sup>T</sup>M=NM|N<sup>T</sup>M<sup>T</sup>= NM<sup>T</sup>|N<sup>T</sup>N=NN|N<sup>T</sup>N<sup>T</sup>=NN

# Part 3

In [1389]:
senate = pd.read_csv('senate_votes.csv')

In [1390]:
import pandas as pd

## · Find the senator whose voting record is closest to Rhode Island senator, Lincoln Chafee.

In [1391]:
# Find the location of Chafee's vector
senate.loc[senate['Name'] == 'Chafee']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
18,Chafee,R,RI,1,-1,1,1,1,1,-1,...,1,-1,-1,1,1,1,-1,1,1,-1

In [1398]:
# Find voting vector
v = np.array(senate.iloc[:,3:])

In [1399]:
from numpy.linalg import norm

In [1400]:
# Find the norm of voting vector
vi = norm((v),axis=1)

In [1401]:
# Find the norm of Cafee's vector
vc = norm(v[18])
vc

6.557438524302

In [1402]:
# Find the value of Cosine Distance 
cos_c = v @ v[18] / (vi*vc)

In [1403]:
# Arrange in ascending order to find the closest one from Chafee
names[np.argsort(cos_c)[::-1]]

18      Chafee
52    Jeffords
71      Murray
8     Bingaman
16    Cantwell
        ...
42      Graham
38        Enzi
49      Inhofe
91      Sununu
21      Coburn
Name: Name, Length: 99, dtype: object

#### ∴  Based on the result, Jeffords is closest to Rhode Island senator, Lincoln Chafee.

## · Find the senator who disagrees most with Pennsylvania senator, Rick Santorum.

In [1404]:
# Find the location of Santorum's vector
senate.loc[senate['Name'] == 'Santorum']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
81,Santorum,R,PA,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [1405]:
# Find the norm of Santorum's vector
vs = norm(v[81])
vs

6.708203932499369

In [1406]:
# Find the value of Cosine Distance 
cos_s = v @ v[81] / (vi*vs)

In [1407]:
# Arrange in ascending order to find the farthest one from Santorum
names[np.argsort(cos_s)]

39    Feingold
76        Reed
0        Akaka
60       Leahy
10       Boxer
        ...
9         Bond
92      Talent
3        Allen
43    Grassley
81    Santorum
Name: Name, Length: 99, dtype: object

#### ∴ Based on the result, Feingold disagrees most with Pennsylvania senator, Rick Santorum.

## · Would you classify Jeffords as closer to the Democrats or a Republicans?

In [1408]:
# Find the location of Jeffords's vector
senate.loc[senate['Name'] == 'Jeffords']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
52,Jeffords,I,VT,1,-1,1,-1,1,1,-1,...,1,-1,-1,1,0,1,-1,1,1,-1

In [1409]:
# Find the norm of Jefford's vector
vj = norm(v[52])
vj

6.708203932499369

### Compare Jefford's record with 5 people who are republicans

1. Compare 'Jeffords' with 'Allen' in Republicans

In [1410]:
senate.loc[senate['Name'] == 'Allen']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
3,Allen,R,VA,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [1411]:
va = norm(v[3])

In [1412]:
v[3] @ v[52] / (va*vj)

0.5494837278298225

2. Compare 'Jeffords' with 'Bond' in Republicans

In [1413]:
senate.loc[senate['Name'] == 'Bond']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
9,Bond,R,MO,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [1414]:
vb = norm(v[9])

In [1415]:
v[9] @ v[52] / (vb*vj)

0.5494837278298225

3. Compare 'Jeffords' with 'Coburn' in Republicans

In [1416]:
senate.loc[senate['Name'] == 'Coburn']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
21,Coburn,R,OK,1,-1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [1417]:
vco = norm(v[21])

In [1418]:
v[21] @ v[52] / (vco*vj)

0.22222222222222218

4. Compare 'Jeffords' with 'Dole' in Republicans

In [1419]:
senate.loc[senate['Name'] == 'Dole']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
33,Dole,R,NC,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [1420]:
vd = norm(v[33])

In [1421]:
v[33] @ v[52] / (vd*vj)

0.4615663313770509

5. Compare 'Jeffords' with 'Ensign' in Republicans

In [1422]:
senate.loc[senate['Name'] == 'Ensign']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
37,Ensign,R,NV,1,1,1,1,1,1,-1,...,1,1,1,1,1,-1,1,1,1,1

In [1423]:
ve = norm(v[37])

In [1424]:
v[37] @ v[52] / (ve*vj)

0.4615663313770509

### Compare Jefford's record with 5 people who are Democrats

1. Compare 'Jeffords' with 'Harkin' in Democrats

In [1425]:
senate.loc[senate['Name'] == 'Harkin']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
46,Harkin,D,IA,-1,-1,1,-1,1,-1,-1,...,1,-1,1,1,-1,1,-1,1,1,-1

In [1426]:
vh = norm(v[46])

In [1427]:
v[46] @ v[52] / (vh*vj)

0.6666666666666665

2. Compare 'Jeffords' with 'Inouye' in Democrats

In [1428]:
senate.loc[senate['Name'] == 'Inouye']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
50,Inouye,D,HI,-1,-1,1,0,1,1,-1,...,1,-1,-1,0,1,0,-1,1,1,-1

In [1429]:
vi = norm(v[50])

In [1430]:
v[50] @ v[52] / (vi*vj)

0.6518682760516064

3. Compare 'Jeffords' with 'Johnson' in Democrats

In [1431]:
senate.loc[senate['Name'] == 'Johnson']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
53,Johnson,D,SD,1,1,1,1,1,1,-1,...,1,1,1,1,-1,1,-1,1,1,1

In [1432]:
vjo = norm(v[53])

In [1433]:
v[53] @ v[52] / (vjo*vj)

0.5494837278298225

4. Compare 'Jeffords' with 'Kohl' in Democrats

In [1434]:
senate.loc[senate['Name'] == 'Kohl']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
56,Kohl,D,WI,1,-1,1,1,1,1,-1,...,1,-1,1,1,1,1,-1,1,1,-1

In [1435]:
vk = norm(v[56])

In [1436]:
v[56] @ v[52] / (vk*vj)

0.637401124282594

5. Compare 'Jeffords' with 'Levin' in Democrats

In [1437]:
senate.loc[senate['Name'] == 'Levin']

,Name,Party,State,B1,B2,B3,B4,B5,B6,B7,...,B37,B38,B39,B40,B41,B42,B43,B44,B45,B46
61,Levin,D,MI,-1,-1,1,1,1,-1,-1,...,1,-1,-1,1,1,1,-1,1,-1,-1

In [1438]:
vl = norm(v[61])

In [1439]:
v[61] @ v[52] / (vl*vj)

0.637401124282594

### Compare Jefford's record with each average of republicnas and democrats

In [1445]:
# Find the vector and norm of the average of republicans
vrs = v[[3,9,21,33,37]]
vrsm = vrs.sum(axis=0)/5
vrsm_n = norm(vrsm) 
vrsm_n

6.082762530298219

In [1446]:
# Find the vector and norm of the average of democrats
vds = v[[46,50,53,56,61]]
vdsm = vds.sum(axis=0)/5
vdsm_n = norm(vdsm)
vdsm_n

5.892367945062495

In [1447]:
# Find the value of Cosine Distance for Republicans
vrsm @ v[52] / (vrsm_n*vj)

0.4999459430237893

In [1450]:
# Find the value of Cosine Distance for Democrats
vdsm @ v[52] / (vdsm_n*vj)

0.7134326703447265

#### ∴  Based on the result, Jeffords as closer to the Democrats